.features-wrapper {
  background: #000407;
  color: white;
  padding: 20px 20px;
  overflow: hidden;

}

.features-title {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 2rem;
  color: #ffffff;
  text-align: center;
}

/* InfoCard.css */
.info-card {
  width: 1000px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* center vertically */
  background: #000407;
  padding: 40px;
  border: 1px solid #333;
  font-family: 'Helvetica Neue', sans-serif;
  margin: 0 auto;
  position: relative;
}

.info-number {
  font-size: 130px;
  font-weight: 100;
  color: white;
  opacity: 0.1;
  /* faint, just like background */
  flex: 1;
  line-height: 1;
  transform: translateY(59px);
}

.info-content {
  flex: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 50px;
}

.info-title {
  font-size: 20px;
  margin: 0;
  color: white;
}

.info-subtitle {
  font-size: 20px;
  font-weight: bold;
  margin: 5px 0 0;
  color: white;
}

.info-description {
  flex: 3;
  text-align: right;
  font-size: 16px;
  line-height: 1.5;
  color: white;
}