.hamburger-button {
  position: fixed;
  top: 20px;
  right: 90px;
  z-index: 2001;
  display: flex;
  flex-direction: column;
  background: none;
  border: none;
  cursor: pointer;
  margin-top: 30px;
}

.line {
  height: 2px;
  width: 45px;
  background: white;
  border-radius: 2px;
  margin: 4px 0;
}

.menu-center {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}

.menu-center::-webkit-scrollbar {
  display: none;  /* Chrome, Safari, Opera */
}

.fullscreen-menu {
  position: fixed;
  inset: 0;
  background-image: linear-gradient(to bottom, #000407f0, #000407);
  display: flex;
  overflow: hidden;
  z-index: 2000;
  scroll-behavior: smooth;
}

.menu-items {
  width: 70%;
  display: flex;
  justify-content: space-between;
  gap: 4rem;
  font-size: 1.2rem;
  margin-top: 25rem;
  list-style: none;
  padding: 0;
  height: 50vh;
}

.menu-item {
  color: var(--text-color);
  font-weight: var(--font-weight-medium);
  font-size: var(--large-font-size);
  cursor: pointer;
  transition: color 0.3s ease;
  line-height: 1.5;
  letter-spacing: 0.05em;
  height: 35px;
}

.menu-item:hover {
  color: #aaa;
}

.top-left {
  position: absolute;
  top: 20px;
  left: 70px;
}

.logo {
  width: 70px;
  height: 70px;
  object-fit: contain;
}

.menu-center {
  flex: 1;
  overflow-y: auto;
  scroll-behavior: smooth;
  width: 100%;
}

.menu-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
}

.menu-sections {
  width: 100%;
  background-color: #000407;
}

.menu-section {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 10%;
  position: relative;
}

.menu-dots {
  display: flex;
  flex-direction: column;
  gap: 35px;
  align-items: center;
  position: relative;
}

.left-panel:before {
    border-left: 1px solid var(--border-color);
    content: "";
    display: block;
    height: 100px;
    left: 5px;
    position: absolute;
    top: -200px;
    width: 1px;
    z-index: 0;
}
 
.left-panel:after {
    border-left: 1px solid var(--border-color);
    content: "";
    display: block;
    height: 30vh;
    left: 5px;
    position: absolute;
    bottom: -370px;
    width: 1px;
    z-index: 0;
}

.dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 1px solid #fff;
  background: transparent;
  cursor: pointer;
  transition: background 0.3s, border-color 0.3s;
  outline: none;
}

.dot.active {
  background: #fff;
  border-color: #fff;
}

/* Left panel */
.left-panel {
  position: absolute;
  left: 100px;
  top: 50%;
  transform: translateY(-50%);
}

.left-panel,
.right-panel {
  height: 220px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Right panel */
.right-panel {
  position: absolute;
  right: 100px;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* height: 60vh; */
}

.right-panel:before {
  border-left: 1px solid var(--border-color);
  content: "";
  display: block;
  height: 100px;
  right: 10px;
  position: absolute;
  top: -200px;
  width: 1px;
  z-index: 0;
}

.right-panel:after {
  border-left: 1px solid var(--border-color);
  content: "";
  display: block;
  height: 30vh;
  right: 10px;
  position: absolute;
  bottom: -370px;
  width: 1px;
  z-index: 0;
}

.social-icons {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
}

.social-icons a {
  color: var(--icon-color);
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  width: auto;
}

.social-icons a:hover {
  opacity: 0.7;
  transition: opacity 0.3s ease;
  color: var(--icon-hover-color);
}

.menu-dots,
.social-icons {
  min-height: 180px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

/* TODO */
.section-content h1 {
  color: var(--text-color);
  font-weight: var(--font-weight-medium);
  font-size: 50px;
  cursor: pointer;
  transition: color 0.3s ease;
  line-height: 1.5;
  letter-spacing: 0.05em;
}


