.technology-container {
    position: relative;
    height: 100vh; /* Full viewport height */
    /* background-image: url('https://4kwallpapers.com/images/wallpapers/windows-11-dark-mode-abstract-background-black-background-1920x1080-8710.jpg');
    background-size: contain;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center; */
    background-color: #000;
}

.technology-container h1 {
    color: white;
    font-size: 30px;
    text-align: center;
    /* margin-bottom: 2rem; */
    padding-top: 20px;
}